.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/bootstrap/ssr
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/client_secret_692176036791-ckp8d0drnl6ju6lltkuk0nbmjhc4gv64.apps.googleusercontent.com.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
